.dog-card {
  margin: 1em;
  width: fit-content;
  height: fit-content;
  overflow-x: hidden;
  position: relative;
}

.dog-image {
  height: 30vh;
  width: auto;
}

.fav-icon {
  position: absolute;
  top: 3px;
  right: 3px;
  height: 5vh;
}